<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Product Mingles</title>
    <link rel="icon" href="/images/logo2.png" type="image/icon type">
    
</head>

<body>
    <div id="page-top"></div>

    <div class="back-to-top">
        <p class="text"><a href="#page-top"><i class="fa-solid fa-angle-up"></i></a></p>
    </div>

    
    <div class="page-header">
        
        <img id = "logo" src="/images/_51248235-4728-4a41-a966-d383c13ce461.png" alt="" width="111" height="110">
        <div class="browse-button" onclick="hide_options()">
            <button>Browse</button>
        </div>

        <form id = 'input-form' action="/filterItems" method="post">
        <input id="searchInput" name="SearchTerm" type="text" placeholder="Search">

        <div class="search-icon-div">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </form>


        <% if (loggedin === 'false') { %>
        <div class="login-div">
            <button><a href="/login" target="_blank">Log In</a></button>
        </div>
        <div class="signup-div">
            <button><a href="/SignUp">Sign Up</a></button>
        </div>
        <% } else { %>
            <% if(IS_SELLER === 'false'){ %>
            <div class="Seller-div">
                <button><a href="/SellerSetup" target="_self">Become A Seller</a></button>
            </div>
            <%} else {%>
                <div class="Seller-div">
                    <button><a href="/addproduct" target="_self">Add Products</a></button>
                </div>
            <%}%>
            <form action="/logout" method="post" class="logout-div">
                <button type="submit">Log Out</button>
            </form>
            <button class="options" id = "profile">
                <a href="/profile-setup"><i class="fa-regular fa-user"></i></a>
            </button>
            <button class="options" id="Cart" onclick="hide_options()">
                <i class="fa-solid fa-cart-shopping fa-lg"></i></a>
            </button>
        <% } %>  
        
    </div>

    <div class="page-header-2">
            <a id="A" class = "page-options" href="#" onclick="clicked_on('A');">All</a>
            <a id="BS" class = "page-options" href="#" onclick="clicked_on('BS');">Best Sellers</a>
            <a id="NR" class = "page-options" href="#" onclick="clicked_on('NR');">New Realeases</a>
            <a id="B" class = "page-options" href="#" onclick="clicked_on('Bks');">Books</a>
            <a id="HG" class = "page-options" href="#" onclick="clicked_on('HG');">Home & Garden</a>
            <a id="PV" class = "page-options" href="#" onclick="clicked_on('PV');">PC & Video Games</a>
            <a id="PC" class = "page-options" href="#" onclick="clicked_on('PC');">PC</a>
            <a id="E" class = "page-options" href="#" onclick="clicked_on('E');">Electronics</a>
            <a id="TG" class = "page-options" href="#" onclick="clicked_on('TG');">Toys & Games</a>
            <a id="BE" class = "page-options" href="#" onclick="clicked_on('B');">Beauty</a>
    </div>
  
    <div class="sliding-bar">
        <div id="slider"></div>
    </div>

<%const renderProducts = (sectionIndex) => {%>
    <%const products = sectionProducts[sectionIndex].products;%>
    <%for (let i = 0; i < products.length; i++) {%>
        <%const product = products[i];%>
        <div class="boxes" id="bx<%= i + 1 %>">
            <h1><%= product.Name %></h1>
            <img id="backdrop" src="data:image/png;base64,<%= product.product_img %>" alt="<%= product.Name %>" width="270" height="412">
            <p class="price">Price: <%= product.Price %></p>
            <p class="description"><%= product.short_Description %></p>
            <% if (loggedin === 'true') { %>
            <button id="fav" onclick="add_favourite('<%= product.ProductID %>', '#empty0<%= i %>', '#full0<%= i %>')"> 
                <i class="fa-solid fa-star fa-lg" id="full0<%= i %>" style="display: none;"></i>
                <i class="fa-regular fa-star fa-lg" id="empty0<%= i %>" style="display: block;"></i>
            </button>
            <%}%>
            <div class="buttons">
                <% if (loggedin === 'true') { %>
                <button class="add-to-cart" onclick="movecart('<%= product.ProductID %>');">Add to Cart</button>
                <%}%>
                <button type="button" class="add-to-cart">View Details</button>
            </div>
        </div>
<% } %>
<% } %>

    <div class="main-body" onclick="hide_options_M()">
        <img id = "front-logo" src="/images/_51248235-4728-4a41-a966-d383c13ce461.png" alt="">
        <div class="All-row">
            <%= renderProducts(0) %>
        </div>
        <div class="white-line">
        </div>
    </div>

    <div class="BS" onclick="hide_options_M()">
        <div class="BS-row">
            <%= renderProducts(1) %>
        </div>
    </div>

    <div class="NR" onclick="hide_options_M()">
        <div class="NR-row">
            <%= renderProducts(2) %>
        </div>
    </div>

    <div class="Bks" onclick="hide_options_M()">
        <div class="Bks-row">
            <%= renderProducts(3) %>
        </div>
    </div>

    <div class="HG" onclick="hide_options_M()">
        <div class="HG-row">
            <%= renderProducts(4) %>
        </div>
    </div>

    <div class="PV" onclick="hide_options_M()">
        <div class="PV-row">
            <%= renderProducts(5) %>
        </div>
    </div>

    <div class="PC" onclick="hide_options_M()">
        <div class="PC-row">
            <%= renderProducts(6) %>
        </div>
    </div>

    <div class="E" onclick="hide_options_M()">
        <div class="E-row">
            <%= renderProducts(7) %>
        </div>
    </div>

    <div class="TG" onclick="hide_options_M()">
        <div class="TG-row">
            <%= renderProducts(8) %>
        </div>
    </div>

    <div class="B" onclick="hide_options_M()">
        <div class="B-row">
            <%= renderProducts(9) %>
        </div>
    </div>

    <div class="page-footer-1">
        <p>Stay Connected:</p>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
    </div>
    
    <div class="page-footer-3">
        <div class="white-line-ver" id="line2"></div>
        <div class="white-line-ver" id="line3"></div>

        <div class="footer-content">
            <div class="footer-section">
                <h2>About Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia deserunt, esse debitis excepturi quaerat minima dolorum delectus rem perferendis fugit voluptates, amet commodi soluta facere fuga labore explicabo voluptatem dicta ipsum ad, error omnis.
                </p>
            </div>
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>41-B-J Gulberg 3, Lahore, Pakistan</p>
                <p>l227787@lhr.nu.edu.pk</p>
                <p>Phone: +92 3054640255</p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-footer-back"></div>

    <%const renderCart = () => {%>
        <%const products = sectionCart[0].cart_items;%>
        <%for (let i = 0; i < products.length; i++) {%>
            <%const product = products[i];%>
            <div id="cart-items-div">
                <img src="data:image/png;base64,<%= product.product_img %>" alt="product.Name" width="75" height="75">
                <div class="cart-items-info">
                    <div class="cart_name"><%=product.Name%></div> 
                    <div class="cart_price">Price: <%=product.Price%></div>
                    <div class="cart_quantity">Quantity: <%=product.quantity%></div>
                </div>
                <button id="delete_btn" onclick="deleteCart('<%=product.ProductID%>')"><i class="fa-solid fa-trash fa-lg"></i></button>
            </div>
        <%}%>
    <%}%>>

    <div class="left-options" style="left: -30%">
        <div class="cart-div">
            <h1>Cart</h1>
            <i id="cart-icon" class="fa-solid fa-cart-shopping fa-xl"></i>
        </div>
        <div class="cart-item-div">
            <%renderCart()%>
        </div>
    </div>
    

    <script src="/src/index-script.js"></script>
</body>
</html>