<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/search_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/loader-style.css">
    <title>After search</title>
</head>
<body>

    <div class="loader"></div>

    <div class="page-header">
        
        <img id = "logo" src="/images/_51248235-4728-4a41-a966-d383c13ce461.png" alt="" width="111" height="110">
        <form id = "link" method="post" action="/gotohome"><button type="submit"></button></form>

        <form id = 'input-form' action="/filterItems" method="post">
        <input id="searchInput" name="SearchTerm" type="text" placeholder="Search">

        <div class="search-icon-div">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </form>


        <% if (loggedin === 'false') { %>
        <div class="login-div">
            <button><a href="/login" target="_blank">Log In</a></button>
        </div>
        <div class="signup-div">
            <button><a href="/SignUp">Sign Up</a></button>
        </div>
        <% } else { %>
            <% if(IS_SELLER === 'false'){ %>
            <div class="Seller-div">
                <button><a href="/SellerSetup" target="_self">Become A Seller</a></button>
            </div>
            <%} else {%>
                <div class="Seller-div">
                    <button><a href="/addproduct" target="_self">Add Products</a></button>
                </div>
            <%}%>
            <form action="/logout" method="post" class="logout-div">
                <button type="submit">Log Out</button>
            </form>
            <button class="options" id = "profile">
                <a href="/profile-setup"><i class="fa-regular fa-user"></i></a>
            </button>
        <% } %>  
        
    </div>


    <div class="container2">
      <p>Home / Search Results</p>
    </div>

    <form action="/further_filter" method="post" class="container3">
        <p><%=all_products.length%> items found for "<%=search_term%>"</p>
        <button type="submit">Sort by:</button>
            <select name="FilterTerm" id="filtersDropdown">
                <option value="Best Match">Best Match</option>
                <option value="Top Sales">Top Sales</option>
                <option value="Price High to Low">Price High to Low</option>
                <option value="Price Low to High">Price Low to High</option>
                <option value="Newest Arrivals">Newest Arrivals</option>
            </select>
        </form>

    <%const renderProducts = () => {%>
    <%for (let i = 0; i < all_products.length; i++) {%>
    <%const product = all_products[i];%>
    <div class="boxes" id="bx<%= i + 1 %>">
        <h1><%= product.Name %></h1>
        <img id="backdrop" src="data:image/png;base64,<%= product.product_img %>" alt="<%= product.Name %>" width="260" height="350">
        <p class="price">Price: <%= product.Price %></p>
        <p class="description"><%= product.short_Description %></p>
        <% if (loggedin === 'true') { %>
        <button id="fav" onclick="add_favourite('<%= product.ProductID %>', '#empty0<%= i %>', '#full0<%= i %>')"> 
            <i class="fa-solid fa-star fa-lg" id="full0<%= i %>" style="display: none;"></i>
            <i class="fa-regular fa-star fa-lg" id="empty0<%= i %>" style="display: block;"></i>
        </button>
        <%}%>
        <div class="buttons">
            <% if (loggedin === 'true') { %>
            <button type="button" class="add-to-cart" onclick="movecart_search('<%= product.ProductID %>');">Add to Cart</button>
            <%}%>
            <button class="add-to-cart" onclick="view_details('<%=product.ProductID%>')">View Details</button>
        </div>
    </div>
    <%}%>
    <%}%>

    <div class="SearchItems">
            <%= renderProducts() %>
    </div>


    <script src="/src/index-script.js"></script>
    <script src="/src/loader-script.js"></script>

</body>
</html>
